.header{
    width: 100%;
    background-color: grey;
    color:white;
    display:flex;
    justify-content: center;
    margin:0px 0px;
    padding:10px;
    position:fixed;
    top:0;
    z-index: 100;
    text-transform: uppercase;
    box-shadow: 0px 1px 5px black;
    font-size: 5vw;
    
}